html {
    min-width: 360px;
    scroll-behavior: smooth;
}

/* custom directives */
.windi-section-title {
    @apply mb-8 select-none text-7xl font-bold text-black dark:(text-white);
}

/* ====== prose section ====== */

/* blockquote */
.prose blockquote {
    margin: 0;
    border: none;
    padding: 0;
}

.prose blockquote p {
    position: relative;
    margin: 1rem 0;
    padding: 1rem 0;
    font-size: 1.5em;
    background: linear-gradient(90deg, #4969ed, #3bd86d);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.prose blockquote p::before {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2rem;
    font-weight: 600;
    background-color: rgb(65 97 228);
    background-clip: text;
    pointer-events: none;
    line-height: 1;
    -webkit-text-fill-color: transparent;
    content: '“' !important;
    clip-path: polygon(0 0, 100% 0, 100% 98%, 0 98%);
}

/* first letter */
.prose > p:first-of-type {
    padding-top: 70px;
}

.prose > p:first-of-type::first-letter {
    float: left;
    margin-top: -10px;
    margin-right: 12px;
    border: 2px solid #6378ca;
    padding: 0 20px;
    font-size: 2rem;
    color: #4399be;
    border-image: linear-gradient(135deg, #6378ca, #6ddb90) 1;
}
